cal/wfcam/flat_*.sdf
cal/lco*/*/*.sdf
\#*\#
*~
.*.swp

src/oracdr.version

*.aux
*.log
*.toc
*.out
*.brf

# Mac
._*

# LCOGT things
cal/lcosbig/lcogt_propid.txt
cal/lcosbig/lcogt_tagid.txt
src/bin/timecorrect.py
